<br />
<br />
<footer>
  <center>
    <span style="text-align: center; align-items: center" class="text-center">
      <a
        rel="noopener noreferrer"
        target="_blank"
        style="color: rgb(128, 128, 128)"
        href="https://github.com/Sushanth47"
      >
        2021 &#8471; By Sushanth47</a
      >
    </span>
    <br /><br />
  </center>
</footer>
