<!DOCTYPE html>
<%- include('./partials/header') %>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
  </head>

  <style>
    .centerBox {
      border: 1px solid rgb(247, 244, 244);
      border-radius: 15px;
      width: 50rem;
      height: 25rem;
      margin: auto;
      padding: 10px;
    }
    .centerBox:hover {
      box-shadow: 0 0 10px 2px rgb(236, 50, 50);
      transition: 0.3s ease-in-out;
    }
    h1 {
      margin-top: 10px;
      font-family: "Spartan", sans-serif;
    }
    button {
      padding: 50px;
    }
    .buttonBox {
      margin-top: 30px;
      padding-left: 30px;
      width: 37.5rem;
      margin: auto;
    }
  </style>
  <body>
    <div class="centerBox">
      <h1 class="text-center">You have to login to access this feature</h1>
      <br /><br />
      <div class="buttonBox">
        <a
          style="margin-right: 350px"
          class="btn btn-outline-success btn-lg"
          href="/api/auth/loginCustomer"
        >
          Login
        </a>
        <a href="/api/auth/signupPage" class="btn btn-outline-primary btn-lg">
          Signup
        </a>
      </div>
      <br />
      <div style="margin-left: 320px">
        <button
          onclick="history.back()"
          class="btn btn-primary btn-lg"
          style="margin: auto"
        >
          Go Back
        </button>
      </div>
    </div>
  </body>
  <%- include('./partials/footer') %>
</html>
