<!DOCTYPE html>
<%- include('./partials/header') %>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="/css/404.css" />
  </head>

  <body>
    <div class="centerBox">
      <h1 class="text-center">Login to Access this part</h1>
      <div>
        <div class="two-buttons">
          <a
            class="btn btn-success btn-lg"
            style="margin-right: 5rem"
            href="/api/auth/loginCustomer"
          >
            Login
          </a>
          <a href="/api/auth/signupPage" class="btn btn-info btn-lg">SignUp</a>
        </div>
      </div>
      <div class="backButton">
        <button onclick="history.back()" class="btn btn-primary btn-lg">
          Go Back
        </button>
      </div>
    </div>
  </body>
</html>
<%- include('./partials/footer') %>
