<%- include('./partials/header') %>
<video autoplay muted loop style="position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;" >
   <source src="../videos/Beauty of Cinema.mp4" type="video/mp4">
</video>
<div style="text-align: center;">
   <h1 style="text-size-adjust: 30px;">Add Movies.</h1>
   <h6>Please add the details to add a movie to the collection</h6>
   <br>
</div>

<div class="d-flex justify-content-center h-100">
   <form style="text-align: center;" action="/api/movies/createmovies" method="POST">
      <input type="text" class="form-control" name="genreId" placeholder="GenreId" /><br>
      <input type="text" class="form-control" name="title" placeholder="Title" /><br>
      <input type="text" class="form-control" name="numberInStock" placeholder="Number in Stock" /><br>
      <input type="text" class="form-control" name="dailyRentalRate" placeholder="Rent Rate" /><br>
      <button type="submit" class="btn btn-outline-success">Submit</button>
   </form>
</div>
<%if(movie.ismovieCreated){%>
   <span>Movie Added to the Store!</span>
<%}%>
