<%- include('./partials/header') %>

<div style="text-align: center;">
   <h1 style="text-size-adjust: 30px;">Add Movies</h1>
   <h6>Please add the details to add a movie to the collection</h6>
   <br>
</div>
<div class="col">
   <div class="col text-center d-flex" style="padding-left:650px">
      <form style="text-align: center;" action="/api/movies/createmovies" method="POST">
         <input type="text" class="form-control" name="genreName" placeholder="Enter Genre" /><br>
         <input type="text" class="form-control" name="title" placeholder="Title" /><br>
         <input type="text" class="form-control" name="numberInStock" placeholder="Number in Stock" /><br>
         <input type="text" class="form-control" name="dailyRentalRate" placeholder="Rent Rate" /><br>
         <button type="submit" class="btn btn-outline-success">Submit</button>
      </form>
      <div class="col text-right pull-right" style="padding-left:480px;">
            <ul style="width:200px; border:1px solid; border-radius: 5px;" class="list-group pull-right">
               <li class="list-group-item active text-center">All Available Genres</li>
               <%allGenres.forEach(list=>{%>
               <li class="list-group-item text-center" ><%=list.name%></li>
               <%})%>
            </ul>
         
      </div> 
   </div> 
</div>

<%if(movie.ismovieCreated){%>
   <span>Movie Added to the Store!</span>
<%}%>

