<%- include('./partials/header') %>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<title>Request Movies</title>

<body>
  <div style="text-align: center">
    <h1 style="text-size-adjust: 1.9rem">Request Movies</h1>
    <h6>Please add the title to request a specific movie</h6>
    <h7>**Make sure to add the right title for the movie**</h7><br />
    <br />
  </div>
  <div class="search">
    <form
      style="text-align: center"
      action="/api/movies/requestmovie"
      method="POST"
    >
      <div class="search-bar">
        <input
          type="text"
          class="form-control input"
          name="title"
          placeholder="Add movie name here..."
        /><br />
        <button type="submit" id="submitButton">Submit</button>
      </div>
    </form>
  </div>
</body>
<footer><%- include('./partials/footer') %></footer>
