*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-background: rgb(52, 58, 64);
  --clr-text: white;
  --clr-search: #0fbd9c;
  --clr-imdb: #dba506;
  --font-family: "Yaldevi", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--clr-background);
  color: var(--clr-text);
}
p {
  font-weight: 900;
  margin-right: 50;
}

h1,
h6,
h5,
h4,
h5,
p,
span {
  font-family: var(--font-family);
  cursor: default;
  color: var(--clr-text);
}

.pagination {
  font-size: 1.25rem;
}

.ptag {
  max-width: max(10vw, 20rem);
  text-size-adjust: 2rem;
}

#input-bar {
  outline: none;
  border: none;
  width: 35%;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  box-shadow: 0px 2px 4px #242424;
}

.search {
  margin-bottom: 4rem;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recommend {
  padding: 30px;
  background-color: white;
}

.searchh {
  display: flex;
  flex-direction: column;
}

.moviesBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem 2rem 0;
}

.moviesBox h4 {
  font-weight: bold;
  text-align: center;
}

#submitButton {
  border: none;
  outline: none;
  background-color: var(--clr-search);
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.55rem;
  color: var(---clr-text);
  margin-left: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 4px #242424;
}

#submitButton:hover {
  background-color: #0da085;
}

.header {
  text-align: center;
  align-items: center;
}

.header h1 {
  font-size: 80px;
}

.header h6 {
  font-weight: 400;
  margin-bottom: 30px;
}

.cardBody {
  margin: 15px auto;
}

.cardBody h6 {
  color: #fff;
  text-align: center;
}

#cardStyling {
  margin: 0 2.2rem 1.5rem 1.3rem;
  width: 10.5rem;
  height: 19.25rem;
  border: 25px;
  border-radius: 0.25rem;
  background-color: var(--clr-background);
  overflow: hidden;
}

#cardStyling .a {
  border-radius: 10px;
}

.allmovies {
  margin-bottom: 2rem;
}

.sort {
  position: relative;
  right: 2%;
  margin-bottom: 2rem;
}

.card-text {
  font-weight: bold;
}

ul {
  list-style: none;
  border-radius: 5px;
}

.selectStyle {
  padding: 0.3125rem;
  min-width: 9%;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.moviepagimg {
  margin-bottom: 2rem;
  height: 35rem;
  width: 25rem;
  margin-left: 1.8rem;
}

.img {
  height: 15.5rem;
  min-width: 10.5rem;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.img:hover {
  -webkit-transform: scale(1);
  transform: scale(1.09);
}

a,
a:hover {
  text-decoration: none;
}

#imdb {
  margin-top: 1.6rem;
  margin-left: 0.4rem;
  border-color: 1px solid transparent;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  color: black;
  width: 5.5rem;
  background-color: var(--clr-imdb);
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
}

.iconStyling {
  float: right;
  margin-top: 1.25rem;
  color: var(--clr-text);
}

.iconStyling:hover {
  color: red;
}

.form {
  align-items: center;
  margin-top: 3.125rem;
  padding-left: 43.75rem;
}

.cardDiv {
  position: relative;
  left: 2.5rem;
  top: 0.5rem;
}

.cardDiv h5 {
  margin-top: 25px;
}
