:root {
  --clr-background: rgb(52, 58, 64);
  --clr-text: white;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--clr-background);
  color: var(--clr-text);
}

a,
a:hover {
  text-decoration: none;
  color: var(--clr-text);
}
